p {
    color: black;
    font-size: 50px;
}
body {
    background-color: #54ACD2;
}
p {
    font-family: sans-serif;
    color: white;
}
h1 {
    font-family: monospace;
    font-size: 60px;
}
h2 {
    font-family: monospace
}
.Contact {
    height: 80px;
    width: 80px;
}

.fadechange {
    height:200px;
    background: #3ba4dc;
    animation: fading 30s infinite;
   -webkit-animation: fading 30s infinite;
}

@keyframes fading {
    0%   { background: #fa5b4d; }
    25%  { background: #37A348; }
    50   { background: #9b59b6; }
    75%  { background: #3ba4dc; }
    100% { background: #fa5b4d; }
}

@-webkit-keyframes fading {
    0%   { background: #fa5b4d; }
    25%  { background: #37A348; }
    50   { background: #9b59b6; }
    75%  { background: #3ba4dc; }
    100% { background: #fa5b4d; }
}
